<% provide(:title, "FAQ's") %>
<!DOCTYPE html>
<html>
    <head>
      <title>Strong Friend | <%= yield(:title) %></title>
    </head>  
  <body>
    <h1>FAQ's</h1>

    <p>
     These are the faq's.
    </p>
  </body>
</html>