<% provide(:title, "Gidday") %>
<!DOCTYPE html>
<html>
    <head>
      <title>Strong Friend | <%= yield(:title) %></title>
    </head>
  
  <body>
    <h1>Strong Friend</h1>

    <p>
    This is my app
    </p>
  </body>
</html>  